.photocard__button__novelty {
  font-size: 24px;
  height: 30px;
  color: $black;
  white-space: nowrap;
  cursor: pointer;
  border: 0;
  margin: 0 26px 0 0;
  line-height: 30px;
  text-decoration: none;
  font-weight: 500;
  padding: 0;
}

.photocard__button__popular {
  height: 30px;
  color: #a4acad;
  white-space: nowrap;
  cursor: pointer;
  border: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  padding-bottom: 31px;
  border-bottom: 1.5px solid rgba(164,172,173);

  &:hover {
    color: $black;
    text-decoration: none;
  }

  &:active {
    color: black;
    text-decoration: none;
  }
}

.button__photocard {
  font-size: 24px;
  line-height: 1;
  font-weight: 500;
  height: 40px;
  max-width: 143px;
  width: 100%;
  background-color: #F46D40;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  white-space: nowrap;
}

.button__more {
  border: 0;
  line-height: 100%;
  font-size: 24px;
  font-weight: 400;
  color: #F46D40;

  &:active {
    cursor: pointer;
  }

  &:hover {
    cursor: pointer;
  }
}



.photocard__button {
  margin: 0 auto 28px;
  max-width: 950px;
}
.search__button {
  border: none;
  margin-right: 34px;
  padding-top: 8px;
  &:hover {
    cursor: pointer;
    color: #FF9846;
  }
}
.swipe-left__button {
  background-color: black;
  padding: 15px;
  border-radius: 50%;
  min-width: 60px;
  height: 60px;

}
.swipe-right__button {
  background-color: black;
  padding: 15px;
  border-radius: 50%;
  min-width: 60px;
  height: 60px;
}

.return-main-page__button {
  background-color: $orange;
  text-decoration: none;
  border-radius: 10px;
  min-width: 20px;
  height: 20px;
}

.minus__button {
  border: none;
}
.plus__button {
  border-radius: 10px;
  background-color: #F46D40;
  color: white;
  border: none;

}