.categories {
  margin-bottom: 48px;
}

.categories__wrapper {
  max-width: 950px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
}

.categories__block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 450px;
  width: 100%;

  &--extended {
    max-width: 470px;
  }

  @media screen and (max-width: $mobileWidth) {
    max-width: none;
    justify-content: flex-start;
    &--extended {
      max-width: none;
    }
  }
}

.categories-img {
  img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  @media screen and (max-width: $mobileWidth) {
    display: block;
    width: 100%;
  }
}
