.communication {
  width: 330px;
  padding: 0 40px;
  border-left: 1.5px solid rgba(164,172,173, 0.3);
  border-right: 1.5px solid rgba(164,172,173, 0.3);
}

.communication__phone-number {
  color: black;
  line-height: 100%;
  font-weight: 500;
  margin: 0 0 30px 0;
}

.phone-number__input {
  background-color: transparent;
  border: none;
}

.communication__messenger {
  color: $gray;
  line-height: 22px;
}
.messenger__type {
  text-decoration: none;
  margin-right: 30px;
  opacity: 0.5;
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    opacity: 1;
  }
}