.commission__wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0 auto;
  width: 1480px;
}
.commission__link-1 {
  text-decoration: none;
  color: white;
  line-height: 22px;
  font-weight: 500;
  font-size: 18px;
  background-color: #F46D40;
  text-align: center;
}