.header-form__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1.5px solid rgba(164,172,173, 0.3);
    column-gap: 365px;
    max-width: 1480px;
}
.header-form {
    background-color: #F2F2F2;
}