.info {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 20px;
}

.info__link {
  text-decoration: none;
  color: black;

  &:active {
    cursor: pointer;
    color: #FF9846;
  }

  &:hover {
    cursor: pointer;
    color: #FF9846;
  }

  &:focus {
    cursor: pointer;
    color: #FF9846;
  }
}