.location {
  margin: 0 auto;
  position: relative;
  padding-top: 20px;
}

.location__wrapper {
  background-color: #F2F2F2;
}

.location__tittle {
  text-align: center;
  margin: 0 auto 18px;
  font-family: "DIN Pro", sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 18px;
}

.location__text {
  margin: 0 auto;
  padding-bottom: 7px;
  text-align: center;
  font-family: "DIN Pro", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 18px;
  color: #a4acad;
}

.loc {
  margin-bottom: 43px;
}

.ellips {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  background-color: #FF9846;
  position: absolute;
  top: 107px;
  right: 115px;
  border-radius: 50%;
}