.main-block {
  width: 1170px;
  background-color: #F2F2F2;
  margin-right: 40px;
}

.header__wrapper {
  display: flex;
  margin: 0 auto ;
  justify-content: flex-start;
  padding-left: 30px;
  border-bottom: 0.5px solid gray;
}
h1 {
  margin: 0 auto;
  text-align: center;
  font-family: $main-font;
  font-style: $main-font-style;
  font-size: $main-font-size;
  line-height: $main-line-height;
  font-weight: 500;
  color: #111111;
}
.phone {
  margin: 0 0 0 15px;
  font-family: $main-font;
  font-style: $main-font-style;
  font-size: $main-font-size;
  line-height: $main-line-height;
  font-weight: 500;
  color: $orange
}
.work-time {
  margin: 5px 0 8px 0;
  font-family: $main-font;
  font-style: $main-font-style;
  font-size: 14px;
  line-height: $main-line-height;
  font-weight: 500;
  color: $gray
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.city {
  font-family: $main-font;
  font-style: $main-font-style;
  font-size: 14px;
  line-height: $main-line-height;
  font-weight: 300;
  color: $gray;
  margin: 0 0 9px 0;
}
.city-value {
  margin: 0 auto;
}
.city-value {
  text-decoration: none;
  font-family: $main-font;
  font-style: $main-font-style;
  font-size: $main-font-size;
  line-height: $main-line-height;
  font-weight: $main-font-weight;
  color: black;
}
.city-value:hover {
  cursor: pointer;
  color: #FF9846;
}
.city-value:focus {
  color: #FF9846;
}
.contact {
  padding-right: 27px;
  border-right: 0.5px solid gray;
}
.review-delivery {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.review {
  margin: 0 10px 0 0;
}
.delivery {
  margin: 0;
}
.review a {
  text-decoration: none;
  font-family: $main-font;
  font-style: $main-font-style;
  font-size: $main-font-size;
  line-height: $main-line-height;
  font-weight: $main-font-weight;
  color: black;
}
.delivery a {
  text-decoration: none;
  font-family: $main-font;
  font-style: $main-font-style;
  font-size: $main-font-size;
  line-height: $main-line-height;
  font-weight: $main-font-weight;
  color: black;
}
.review a:hover {
  cursor: pointer;
  color: #FF9846;
}

.review a:focus {
  color: #FF9846;
}

.delivery a:focus {
  color: #FF9846;
}

.delivery a:hover {
  cursor: pointer;
  color: #FF9846;
}
.search {
  text-decoration: none;
  font-family: $main-font;
  font-style: $main-font-style;
  font-size: $main-font-size;
  line-height: $main-line-height;
  font-weight: $main-font-weight;
  color: black;
}
.search-submit:focus {
  color: #FF9846;
}

.search-submit:hover {
  cursor: pointer;
  color: #FF9846;
}

.photocard-wrapper {
  display: flex;
  justify-content: center;
}
.photocard {
  background-color: white;
  width: 289px;
  display: flex;
  flex-direction: column;
  margin-right: 41px;
  padding-left: 13px;
  position: relative;
}
.photocard img {
  margin-bottom: 30px;
}

.photocard__subtitle {
/*  margin: 0 0 30px 0;*/
/*  color: black;
  font-family: $main-font;
  font-style: $main-font-style;
  font-size: 24px;
  line-height: $main-line-height;*/
}

.photocard aside {
  margin: 0 0  38px 0;
  color: $gray;
  font-family: $main-font;
  font-style: $main-font-style;
  font-size: $main-font-size;
  line-height: $main-line-height;
}
.photocard-access aside {
  color: $black;
  font-family: $main-font;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 24px;
  line-height: $main-line-height;
  margin: 0;
}

.description {
  p {
    color: $gray;
    font-family: $main-font;
    font-style: $main-font-style;
    font-size: 18px;
    line-height: $main-line-height;
    font-weight: 400;
  }
}

.description__title {
  margin-top: 50px;
  margin-bottom: 10px;
  color: $gray;
  font-family: $main-font;
  font-style: $main-font-style;
  font-size: 24px;
  line-height: $main-line-height;
  font-weight: 700;
}
