
.nav-block {
  padding: 27px 0 0 15px;
  margin-right: 30px;
  @media screen and (max-width: $mobileWidth) {
    display: none;
  }
}
.nav {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-top: 1.5px solid rgba(164,172,173, 0.3);
}
.nav__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  position: relative;
  gap: 30px;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 36px 0 0 16px;
}

li {
  a {
    text-decoration: none;
    color: #000000;
    font-size: 24px;
  }
}

.nav__list {
  li {
    position: relative;
    height: 30px;
  }
}

li a:hover {
  cursor: pointer;
  color: #FF9846;
}

li a:focus {
  color: #FF9846;
}



