.photocard-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 41px;
  margin-bottom: 60px;
}

.photocard {
  background-color: white;
  max-width: 289px;
  width: 100%;
  position: relative;
}

.photocard__img {
  margin-bottom: 15px;
  text-align: center;
}

.photocard__title {
  margin: 0 0 5px 0;
  color: black;
  font-size: 24px;
  line-height: 1.3;
}

.photocard__subtittle {
  color: $gray;
  margin: 15px 0 0 0;
}

.photocard__price {
  color: $black;
  font-family: $main-font;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 24px;
  line-height: $main-line-height;
  margin: 0;
}

.photocard__text {
  padding: 0 17px 20px;
}

.photocard__access {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
  padding: 13px 7px 6px 17px;
  border-top: 0.5px solid #A4ACAD;
}

.photocard__title-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 60px;
  overflow: hidden;
}
.tittle__wrapper {
  margin: 0 auto;
}
.swipe-right{
  height: 60px;
  width: 60px;
  align-self: center;
}
.swipe-left{
  height: 60px;
  width: 60px;
  align-self: center;
}