.shields {
  right: 0;
  top: -10px;
  position: absolute;
}

.shields__soon {
  background-color: #EB5757;
  font-size: 11px;
  text-transform: uppercase;
  color: white;
  padding: 0 8px;
  height: 15px;
  white-space: nowrap;
  line-height: 14px;
  border-radius: 10px;
}
.shields-choose {
  background-color: #F46D40;
  font-size: 24px;
  color: white;
  font-weight: 500;
  position: relative;
  left: 120px;
  padding: 5px 41px;
  top: 15px;
}