/* .shields {
  right: 0;
  top: -10px;
  position: absolute;}*/



.shields__soon {
  background-color: #EB5757;
  font-size: 11px;
  text-transform: uppercase;
  color: white;
  padding: 0 8px;
  height: 15px;
  white-space: nowrap;
  line-height: 14px;
  border-radius: 10px;
}
.shield-1 {
  right: -24px;
  top: -18px;
  position: absolute;
}
.shield-2 {
  right: -48px;
  top: -14px;
  position: absolute;
}
