.shopping-cart {
  background-color: #F2F2F2;
  height: 140px;
  border-radius: 5px;
}

.shopping-cart__tittle {
  padding-top: 19px;
  text-align: center;
  margin: 0 auto 19px;
  font-family: "DIN Pro", sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 18px;

}

.shopping-cart__text {
  margin: 0 auto 28px;
  text-align: center;
  font-family: "DIN Pro", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 18px;
  color: #a4acad;
}

.banner {
  text-align: center;
  font-family: "DIN Pro", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: white;
  background-color: #FF9846;
  padding: 11px;
  border-radius: 0 0 5px 5px;
}