.shopping-cart{
  background-color: #F2F2F2;
}
.cart_tittle {
  padding-top: 20px;
  margin-bottom: 18px;
}
.cart_text {
  margin-bottom: 30px;}
.banner{
  text-align: center;
  font-family: "DIN Pro", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  color: white;
  background-color: #FF9846;
  padding: 12px;
  margin-bottom: 20px;
}