.slider {
  margin-bottom: 10px;
}

.slider__wrapper {
  position: relative;
  padding-bottom: 35px;
}

.swiper-pagination-bullet-active {
  background-color: $orange !important;
}
.swiper-pagination {
  margin-bottom: 8px;
}