@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "normalize";

@import "blocks/nav";
@import "blocks/shields";
@import "blocks/logo";
@import "blocks/main";
@import "blocks/side";
@import "blocks/categories";
@import "blocks/photocard";
@import "blocks/button";
@import "blocks/slider";
@import "blocks/logo";
@import "blocks/header";
@import "blocks/description";
@import "blocks/shopping-cart";
@import "blocks/location";
@import "blocks/footer";
@import "blocks/info";
@import "blocks/contacts";
@import "blocks/communication";
@import "blocks/icons";
@import "blocks/contact";
@import "blocks/hometown";
@import "blocks/review-delivery";
@import "blocks/header__info";
@import "blocks/description__button";
html {
  box-sizing: border-box;
  line-height: $main-line-height;
  font-size: $main-font-size;
}
body {
  font-family: $main-font;
  font-size: $main-font-size;
  font-weight: $main-font-weight;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.mainwrapper {max-width: 1920px;
  width: 100%;
  height: 2295px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
}

.inner-wrapper {
  max-width: 950px;
  margin: 0 auto;
  @media screen and (max-width: $mobileWidth) {
    max-width: 400px;
  }
}
