body {
    margin: 0 auto;
}

html {
    box-sizing: border-box;
}
.mainwrapper {max-width: 1900px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 119px;
}

