body {
    margin: 0 auto;
}

html {
    box-sizing: border-box;
}
.mainwrapper {max-width: 1900px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 119px;
}
.logo {
    padding-left: 122px;
}
.line {
    margin-top: 1000px;

}
.logo img {
    margin-bottom: 46px;}

.nav__list {
    display: flex;
    flex-direction: column;
}

.nav__list {
    list-style: none;
    padding-left: 179px;
}
li a{text-decoration: none;
    color: #000000;
    font-family: "DIN Pro", sans-serif;
    font-style: normal;
    font-size: 24px;
    line-height: 100%;
    }
.nav__list li {
    margin-bottom: 34px;
}
li a:hover {
    cursor: pointer;
    color: #FF9846;
}
li a:focus {
    color: #FF9846;
}
li .active:after {vertical-align: super;
    content: url("../img/soon.jpg")
}
li .active {
    margin-bottom: 25px;
}