$main-font: 'DIN Pro', Arial, sans-serif;
$main-font-weight: 400;
$main-font-style: normal;
$main-font-size: 18px;
$main-line-height: 100%;

$orange: #FF9846;
$black: #000000;
$white: #FFFFFF;
$gray: #A4ACAD;
$mobileWidth: 767px;